
body{
  padding-left:1em;
  font-family:Verdana;
  color:black;
  background-color:grey; 
}

h1{
  font-family:Verdana;
  color:#C0C0C0;
}

a:link{
  font-family:Verdana;
  color:black;
}

a:visited {
  color:black;
}

a:hover{
  background-color:#C0C0C0;
  color:grey;
  text-decoration:none;
  font-size: 100%;
}

a:active{
  color:black;
}