
body{
  padding-left:1em;
  font-family:gill sans;
  color:white;
  background-image:url('Jellyfish.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1{
  font-family:times;
  color:grey;
}

a:link{
  font-family:gill sans;
  color:red;
}

a:visited {
  color:red;
}

a:hover{
  background-color:blue;
  color:yellow;
  text-decoration:none;
  font-size:100%;
}

a:active{
  color:red;
}